{% load i18n %}
{% block main %}
<p>{% trans "Hi there," %}</p>
<p>{% trans "Forget your password?" %}</p>
<p>{% trans "Our password reset form was used for your account. Please click the link below to log in and update your password." %}</p>
<p><a href="http://{{ request.get_host }}{{ verify_url }}">http://{{ request.get_host }}{{ verify_url }}</a></p>
<p>{% trans "If you didn’t make this request, or feel this email is reaching you in error, please ignore this message." %}</p>
<p>{% trans "Thanks, the Firefox OS team" %}</p>
{% endblock %}







