{% load i18n %}
{% block main %}
<p>{% trans "Hi there," %}</p>
<p>{% trans "Thanks for creating a Firefox OS partner account. We’re looking forward to working with you and to bringing your exciting new Firefox OS device to market." %}</p>
<p>{% trans "To get started, please use the link below to activate your account." %}</p>
<p><a href="http://{{ request.get_host }}{{ verify_url }}">http://{{ request.get_host }}{{ verify_url }}</a></p>
<p>{% trans "Thanks, the Firefox OS team" %}</p>
{% endblock %}
