{% extends "pages/richtextpage.html" %}
{% load i18n staticfiles %}

{% block page_slug %}data-page-slug="download-agreement"{% endblock %}

{% block main %}
<div id='download-agreement'>
    <iframe src="{% static "pdfjs/web/viewer.html" %}?file={{ pdf.url }}"></iframe>
</div>
<form id='agreement-form' action='' method='post'>{% csrf_token %}
    <div class="form-actions">
        <button class="primary button" type="submit" value="agree" name="agree">{% trans "Agree" %}</button>
        <a class="button button-negative" id="cancel-agreement" href="/">{% trans "Cancel" %}</a>
        <a class="secondary button insensitive" id="download-agreement-link" href="{{ pdf.url }}">
            <i class="fa fa-download"></i> {% trans "Download" %}
        </a>
    </div>
</form>
{% endblock %}
