{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block masthead-content %}
    {% with page.get_ascendants|last as last %}
        {% if page.inherit %}
                <article class="home-column">
                    <h1>{{ last.richtextpage.title }}</h1>
                  <div class="intro-column">
                    <p>{{ last.richtextpage.intro }}</p>
                  </div>
               </article>
                {% if last.richtextpage.cta_title %}
                    <aside id="cta">
                      <p><em>{{ last.richtextpage.cta_title }}</em></p>
                      <div>{{ last.richtextpage.cta_body|richtext_filters|safe }}</div>
                    <aside>
                {% endif %}
        {% else %}
            {% with page.richtextpage as richtextpage %}
                <article class="home-column">
                    {% if richtextpage.title %}
                    <h1>
                    {% editable richtextpage.title %}
                    {{ richtextpage.title|richtext_filters|safe }}
                    {% endeditable %}
                    </h1>
                    {% endif %}
                  <div class="intro-column">
                    {% if richtextpage.intro %}
                    <p>
                    {% editable richtextpage.intro %}
                    {{ richtextpage.intro|richtext_filters|safe }}
                    {% endeditable %}
                    </p>
                    {% endif %}
                  </div>
               </article>
                {% if richtextpage.cta_title %}
                    <aside id="cta">
                      <p><em>{{ richtextpage.cta_title }}</em></p>
                      <div>{{ richtextpage.cta_body|richtext_filters|safe }}</div>
                    <aside>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
{% endblock masthead-content %}


{% block main %}{{ block.super }}

{% with page.richtextpage as richtextpage %}

{% editable richtextpage.content %}
{{ richtextpage.content|richtext_filters|safe }}
{% endeditable %}

{% endwith %}

{% endblock %}
