{% extends "pages/page.html" %}

{% load mezzanine_tags %}

    {% block masthead-content %}


    {% if page.inherit %}
        {% with page.get_ascendants|last as last %}
            {{ last.richtextpage.title }}
        {% endwith %}
    {% else %}
        {% with page.richtextpage as richtextpage %}
            <article class="home-column">
                {% if richtextpage.title %}
                <h1>
                {% editable richtextpage.title %}
                {{ richtextpage.title|richtext_filters|safe }}
                {% endeditable %}
                </h1>
                {% endif %}
              <div class="intro-column">
                {% if richtextpage.intro %}
                <p>
                {% editable richtextpage.intro %}
                {{ richtextpage.intro|richtext_filters|safe }}
                {% endeditable %}
                </p>
                {% endif %}
              </div>
           </article>
            <aside id="cta">
              <p><em>I am a Call to Action!</em></p>
              <div>
                I am some rich text!
                <a href="">Read More</a>
              </div>
            <aside>
        {% endwith %}
    {% endif %}


    {% endblock masthead-content %}


{% block main %}{{ block.super }}

{% with page.richtextpage as richtextpage %}

{% editable richtextpage.content %}
{{ richtextpage.content|richtext_filters|safe }}
{% endeditable %}

{% endwith %}

{% endblock %}
