{% extends "pages/richtextpage.html" %}
{% load i18n %}

{% block main %}
<div id='download-agreement'>
    {{ block.super }}
</div>
<form action='' method='post'>{% csrf_token %}
    <div class="form-actions">
        <button class="primary button" type="submit" value="agree" name="agree">{% trans "Agree" %}</button>
        <a class="button button-negative" href="/">{% trans "Cancel" %}</a>
        <a class="secondary button insensitive" rel="print" onClick="window.print()">
            <i class="fa fa-print"></i> {% trans "Print" %}
        </a>
    </div>
</form>
{% endblock %}