{% extends "pages/richtextpage.html" %}
{% load i18n staticfiles %}


{% block extra_js %}
    <script src="{% static "js/libs/printThis.js" %}"></script>
{% endblock %}

{% block main %}
<div id='download-agreement'>
    {{ block.super }}
</div>
<form action='' method='post'>{% csrf_token %}
    <div class="form-actions">
        <button class="primary button" type="submit" value="agree" name="agree">{% trans "Agree" %}</button>
        <a class="button button-negative" href="/">{% trans "Cancel" %}</a>
        <a id="print" class="secondary button insensitive" rel="print">
            <i class="fa fa-print"></i> {% trans "Print" %}
        </a>
    </div>
</form>
<script type="text/javascript">
$("#print" ).click(function(e) {
    e.preventDefault();
    $("#download-agreement").printThis({
        pageTitle: "Download Agreement"
    });
});
</script>

{% endblock %}
