{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block extra-body-class %}index{% endblock %}

{% block masthead-content %}
  <article class="home-column">
    <h1>{% blocktrans %}Building the future<br>starts here{% endblocktrans %}</h1>
    <div class="intro-column">
      {% blocktrans %}Welcome to the world of Firefox OS. On this site, you’ll find everything you need to customize or build your own version of our groundbreaking mobile operating system and to use the Firefox OS brand on a phone or tablet. Get started below.{% endblocktrans %}
    </div>
   </article>
 {% endblock %}

{% block sidebar %}{# exclude the sidebar #}{% endblock %}

{% block index %}
    <article class="cta-column"><i class="fa fa-lightbulb-o fa-4x pull-left icon"></i><h2>Learn</h2>Explore Firefox OS and the Firefox Marketplace. Get localization support, roadmaps and a complete, detailed list of every feature.<br><a href="/learn">Get started »</a></article>
    <article class="cta-column"><i class="fa fa-code-fork fa-4x pull-left icon"></i><h2>Build</h2>Create and customize your own version of Firefox OS. Learn more about hardware requirements, supported chipsets, and how to contribute back to the community.<br><a href="/build">Build today »</a></article>
    <article class="cta-column"><i class="fa fa-magic fa-4x pull-left icon"></i><h2>Market</h2>Take your product to market. Get access and support to the essential licenses and Firefox OS brand assets you’ll need, quickly and easily.<br><a href="/market">Begin the process »</a></article>
{% endblock %}

{% block main %}{%endblock %}



