{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n staticfiles %}
{% load url from future %}{% load admin_static %}

{% block pagetitle %}Rosetta{% endblock %}

<!-- STYLES & SCRIPTS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/rosetta.css" %}" />
{% endblock %}


<!-- COLTYPE/BODYCLASS -->
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}<div class="breadcrumbs">{% trans "Home" %}</div>{% endblock %}

<!-- CONTENT -->
{% block content %}
        <div id="content-main" class="flex">
            {% block main %}{% endblock %}
        </div>
{% endblock %}
